#wrapper {
    margin: 0 auto;
    margin-top: 25px;
    width: 70%;
}

header {
    height: 150px;
    margin: 0 auto;
    display: block;
}
header img {
    cursor: pointer;
}

header img {
    height: 130px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

input, select, ul, .ngdialog-content {
    direction: rtl;
}

/* Menu Part */

.menuContainer {
    height: 171px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuContainer button {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.addContainer label {
    float: right;
    direction: rtl;
}


/* Add Client Part */

.addButton {
    display: block;
    margin: auto;
}

/* Add Order Part */

.addOrderContainer ul {
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    max-height: 150px;
}

#searchResult li{
    background: lavender;
    padding: 4px;
    margin-bottom: 1px;
}

#searchResult li:nth-child(even){
    background: cadetblue;
    color: white;
}

#searchResult li:hover{
    cursor: pointer;
}

.orderDialogContainer img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.addClientDialogContainer img {
    height: 150px;
    display: block;
    margin: 0 auto;
}




/* Orders Part */
.ordersFilterRow {
    direction: rtl;

}

.ordersDatesRow {

}

.ordersDate {
    width: 120px;
    display: inline-block;
}

.showOrdersButton{
    display: block;
    width: 100%;
}


.ordersTable {
    direction: rtl;
}

.ordersTable .timeCell {
    direction: ltr;
}


/* SIGNIN PAGE */

.signInContainer h2 {
    text-align: right;
    color: cornflowerblue;
}
.signInButton {
    float: right;
}