<div class="mailDialog">
  <h2>{{title}}</h2>
  <form name="mailForm" ng-submit="handleClickSendMail()">
    <h4>למי לשלוח?</h4>
    <div class="form-group">
      <input ng-model="mainMail" type="checkbox" name="mainMail" ng-init="mainMail=false"/>
      <label for="mainMail">מש"א - {{$root.defaultMailAddress}}</label>
    </div>

    <div class="form-group">
      <input ng-model="ownerMail" type="checkbox" name="ownerMail" ng-init="ownerMail=false"/>
      <label for="ownerMail">עוז נוי - {{$root.defaultMailAddress}}</label>
    </div>
    <button
      type="submit"
      class="btn btn-success showOrdersButton sendMailsButton"
      ng-disabled="mailForm.$invalid || (!mainMail && !ownerMail) || isLoading"
    >
      שלח
    </button>
  </form>
</div>
