<div class="mailDialog">
  <h2>{{title}}</h2>
  <form name="mailForm" ng-submit="handleClickSendMail()">
    <h4>למי לשלוח?</h4>
    <div class="form-group">
      <input ng-model="defaultMailAddress" type="checkbox" name="defaultMailAddress" ng-init="defaultMailAddress=false"/>
      <label for="defaultMailAddress">מש"א - {{$root.defaultMailAddress}}</label>
    </div>

    <div class="form-group">
      <input ng-model="ownerMailAddress" type="checkbox" name="ownerMailAddress" ng-init="ownerMailAddress=false"/>
      <label for="ownerMailAddress">עוז נוי - {{$root.ownerMailAddress}}</label>
    </div>
    <div class="form-group">
      <input ng-model="extraAccountantMail" type="checkbox" name="extraAccountantMail" ng-init="extraAccountantMail=false"/>
      <label for="extraAccountantMail">מיכל הנה"ח - {{$root.extraAccountantMail}}</label>
    </div>

    <button
      type="submit"
      class="btn btn-success showOrdersButton sendMailsButton"
      ng-disabled="mailForm.$invalid || (!defaultMailAddress && !ownerMailAddress && !extraAccountantMail) || isLoading"
    >
      שלח
    </button>
  </form>
</div>
