<div class="ordersContainer">

<!--filter row-->
    <div class="ordersFilterRow">
        <div class="form-group">
            <label>בחר לקוח:</label>
            <select ng-model="formObject.client" class="form-control"
                ng-options="client as client.firstName + ' ' + client.lastName for client in clients | orderBy:['firstName','lastName']">
                <!--<option ng-repeat="client in clients" value="{{client.accountNumber}}">{{client.firstName}} {{client.lastName}}</option>-->
            </select>
        </div>

        <div class="form-group">
            <label>בחר חודש:</label>
            <select ng-model="formObject.date" class="form-control"
                ng-options="month.date as month.name for month in months"
                ng-change="setCurrentMonthName(month)">
            </select>
    </div>

        <button type="button" ng-click="showResults()" class="btn btn-success showOrdersButton">הצג</button>
        <button type="button" ng-click="handleClickOpenMailDialog()" class="btn btn-success showOrdersButton" style="margin-top: 16px;">שלח הזמנות חודשיות במייל</button>
    </div>


    <!--filter table-->
    <div class="container ordersTable" ng-if="orders.length > 0">
        <div class="clientMonthlySum">
            <span ng-if="!formObject.isAllClients">סה"כ הוצאות לקוח בחודש הזה:</span>
            <span ng-if="formObject.isAllClients">סה"כ מכירות החודש:</span>
            <span>{{ getTotal()}} &#8362;</span>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>לקוח</th>
                <th>מוצר/מחיר</th>
                <th>כמות</th>
                <th>תאריך</th>
            </tr>
            </thead>
            <tbody>
            <tr class="orderRow" ng-repeat="item in orders | orderBy: '-date'"
            ng-click="deleteOrder(item._id)">
                <td>{{item.firstName}} {{item.lastName}}</td>
                <td>{{item.productName}} / {{item.pricePerProduct}}</td>
                <td>{{item.quantity}}</td>
                <td class="timeCell">{{item.date | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<!--Cannot send all customers in mail dialog template-->
<script type="text/ng-template" id="cantMailAllClientsTemplateId">
    <div>
        <h1>לא ניתן לשלוח במייל את כל הלקוחות</h1>
    </div>
</script>