<div class="ordersContainer">

<!--filter row-->
    <div class="ordersFilterRow">
        <div class="form-group">
            <label for="sel1">בחר לקוח:</label>
            <select class="form-control" id="sel1">
                <option value="allClients">כל הלקוחות</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="form-group">
            <label for="sel1">בחר חודש:</label>
            <select class="form-control">
                <option ng-repeat="month in months" value="month.date">{{month.name}}</option>
            </select>
        </div>

        <!--<div class="ordersDatesRow">-->
            <!--<div class="form-group ordersDate">-->
                <!--<label>מתאריך:</label>-->
                <!--<input type="date" class="form-control">-->
            <!--</div>-->

            <!--<div class="form-group ordersDate">-->
                <!--<label>עד תאריך:</label>-->
                <!--<input type="date" class="form-control">-->
            <!--</div>-->
        <!--</div>-->



        <button type="button" class="btn btn-success showOrdersButton">הצג</button>

    </div>


    <!--filter table-->
</div>